.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  text-align: center;
}

.TaskContainer {
  list-style-type: none;
  text-align: left;
  border: 1px solid black;
}

.CategoryForm form {
  display: inline;
}